/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 0;
    background-color: #ffffff;
}



header {
    background-color: #ffc4dc;
    color: #ce2f64;
    padding: 10px 0;
}

header h1 {
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fdf0f0;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 0;
    
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px
    
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.portfolio-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.portfolio-item img {
    max-width: 100%;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ffa7d3;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    display: flex;
    
    
}

.contact a{
    color: #00bcd4;
    text-decoration: none;
    font-weight: bold;
}

.contact a:hover{
    text-decoration: underline;
}